@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-body: "Inter", sans-serif;
  --font-title: "Lexend", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body); /* ✅ MAIN FONT */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title); /* ✅ HEADINGS FONT */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
